.headerSection
{
    display: none;
    @media (max-width: 630px)
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .logoContainer
    {
        width: 100%;
        padding: 10px 8px;
        position: fixed;
        top: 0px;
        background-color: white;
        z-index: 2000;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.scrolled
        {
            border-bottom: 1px solid #dfe0e4;
        }

        .OneLotLogo
        {
            height: 2.2rem;
            width: 6.25rem;
        }
        .ViewMoreButton {
            height: 40px;
            width: 40px;
            background-color: #f3f4f6;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
        }
    }
    
    .navbar_section
    {
        width: 100%;
        padding-top: 4rem;
        padding-bottom: 1rem;
        display: none;
        position: fixed; 
        z-index: 1000;   
        background-color: white;
          

        &.navbarScrolled {
            border-bottom: 1px solid #dfe0e4;
        }
        .navLinks
        {
            ul {
                li {
                    padding: 8px;
                    padding-left: 16px;
                    padding-right: 12px;
                    font-size: 16px;
                    color: #374151;
                    font-weight: 600;
                }
            }
            .linebreak
            {
                height: 1px;
                background-color: #f3f4f6;
            }
        }
        .linebreak
        {
            height: 1px;
            background-color: #e5e7eb;
        }
        .authButtons
        {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            .inquireNowBtn
            {
                outline: none;
                border: none;
                background-color: #57009c;
                color: white;
                padding: 8px;
                padding-left: 15px;
                padding-right: 15px;
                border-radius: 8px;
                width: 95%;
                font-weight: 600;
            }
            .loginBtn
            {
                outline: none;
                border: none;
                width: auto;
                font-weight: 550;
                color: #374151;
            }
        }
    }
}