.dealershipManagementSection {
    padding-top: 120px;
    padding-bottom: 50px;
    width: 100vw;
    background-color: #f9fafb;
    display: flex;
    gap: 80px;

    .dealershipManagementContainer
    {
        width: 40%;
        .textSection
        {   
            margin-left: 100px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .heading
            {
                font-size: 36px;
                font-weight: 800;
                width: 30rem;
                line-height: normal;
            }
            .subheading
            {
                font-size: 24px;
                font-weight: 700;
            }
            .description
            {
                font-size: 20px;
                color: #6b7280;
            }
            .benefitsList
            {   
                display: flex;
                flex-direction: column;
                gap: 10px;
                .benefitsListItem
                {
                    display: flex;
                    gap: 8px;

                    p {
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
            }
            .linebreak {
                background-color: #e5e7eb;
                height: 1px;
                width: 100%;
                margin: 16px 0;
            }
            .callToAction
            {
                font-size: 20px;
                color: #6b7280;
            }
            .exploreNowButton {
                outline: none;
                border: none;
                background-color: #57009c;
                color: white;
                padding: 8px;
                padding-left: 15px;
                padding-right: 15px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                gap: 5px;
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 630px) {
    .dealershipManagementSection
    {
        flex-direction: column;
        padding: 20px 16px 0px 16px;
        margin-top: 50px;
        gap: 20px;

        .dealershipManagementContainer
        {
            width: 100%;

            .textSection
            {
                margin-left: 0px;
                .heading
                {
                    font-size: 24px;
                }
                .description
                {
                    font-size: 16px;
                }
                .benefitsList
                {
                    .benefitsListItem
                    {
                        p {
                            font-size: 16px;
                        }
                    }
                }
                .callToAction
                {
                    font-size: 16px;
                }
            }
        }
    }
}